<mat-sidenav-container color="primary" fullscreen>
  <mat-sidenav #show (click)="show.close()">
    <mat-nav-list>
      <a mat-list-item routerLink="">
        <mat-icon>
          library_books
        </mat-icon>
        <span class="px-1">
          Course
        </span>

      </a>
      <a mat-list-item>
        <mat-icon>
          question_answer
        </mat-icon>
        <span class="px-1">
          about
        </span>
      </a>
      <a mat-list-item>
        <mat-icon>person_add</mat-icon>
        <span class="px-1">
          Registar
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="show.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <router-outlet>

        </router-outlet>
      </div>
    </div>
  </div>
  
</mat-sidenav-container>